

.message{
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: steelblue;
}

.success{
    font-size: 18px;
    margin-top: 15px;
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    margin: 15px !important ;
}   

.btn{
    margin: 8px;
}
.css-feqhe6{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 15px;
    border: 0px;
    vertical-align: top;
    width: 70%;
    align-items: center;
}